Importar Flow OPC UA SERVER para NODE RED.json
[{"id":"41ed64c4.cf5e54","type":"tab","label":"OPC UA Server"},{"id":"426f9b5b.2383e4","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":true},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart 4.0","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2795798a.4e6316","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"1cb19fee.eabd9","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"7c9fbe9b.2b5018","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"d344fa4a.eaa9f8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"3e60f421.83aa88","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"c0e6e7b9.41a458","type":"ui_group","name":"Group 2","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"d3f6991.39b2268","type":"ui_spacer","name":"spacer","group":"c0e6e7b9.41a458","order":5,"width":6,"height":1},{"id":"8209fa14.18d448","type":"ui_spacer","name":"spacer","group":"c0e6e7b9.41a458","order":8,"width":6,"height":1},{"id":"5250eb51.43b784","type":"ui_tab","name":"Tab 6","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"a93e97ec.c7c5d8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://nodeRED:53880","secpol":"None","secmode":"None","login":false},{"id":"113227dd.97d098","type":"OpcUa-Endpoint","endpoint":"opc.tcp://TIA-V15:53880","secpol":"None","secmode":"None","login":false},{"id":"efb482cb.cd451","type":"OpcUa-Server","z":"41ed64c4.cf5e54","port":"53880","name":"","endpoint":"opc.tcp://TIA-V15:53880","autoAcceptUnknownCertificate":true,"registerToDiscovery":true,"constructDefaultAddressSpace":true,"allowAnonymous":true,"endpointNone":true,"endpointSign":true,"endpointSignEncrypt":true,"endpointBasic128Rsa15":true,"endpointBasic256":true,"endpointBasic256Sha256":true,"maxNodesPerBrowse":"10","maxNodesPerHistoryReadData":"010","maxNodesPerHistoryReadEvents":"010","maxNodesPerHistoryUpdateData":"010","maxNodesPerRead":"010","maxNodesPerWrite":"010","maxNodesPerMethodCall":"10","maxNodesPerRegisterNodes":"010","maxNodesPerNodeManagement":"010","maxMonitoredItemsPerCall":"010","maxNodesPerHistoryUpdateEvents":"010","maxNodesPerTranslateBrowsePathsToNodeIds":"010","x":760,"y":420,"wires":[["ed9299ef.cc5a68"]]},{"id":"ed9299ef.cc5a68","type":"debug","z":"41ed64c4.cf5e54","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"66dbdcb1.985494","type":"function","z":"41ed64c4.cf5e54","name":"Convers達o","func":"msg = { payload : { \"messageType\" : \"Variable\", \"variableName\": \"Contador\", \"variableValue\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":320,"wires":[["efb482cb.cd451"]]},{"id":"be76c530.455678","type":"comment","z":"41ed64c4.cf5e54","name":"Var Counter","info":"","x":500,"y":280,"wires":[]},{"id":"a2bab0f7.dfc63","type":"comment","z":"41ed64c4.cf5e54","name":"1 click sempre depois de realizar um \"Deploy\"","info":"","x":310,"y":20,"wires":[]},{"id":"96c75126.400ee","type":"function","z":"41ed64c4.cf5e54","name":"Convers達o","func":"msg = { payload : { \"messageType\" : \"Variable\", \"variableName\": \"Tipo Real\", \"variableValue\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":420,"wires":[["efb482cb.cd451"]]},{"id":"963077ca.678418","type":"inject","z":"41ed64c4.cf5e54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":420,"wires":[["c8fdf590.4ca848"]]},{"id":"c8fdf590.4ca848","type":"function","z":"41ed64c4.cf5e54","name":"Random","func":"var random = (Math.random()*100);\nmsg.payload = random;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["96c75126.400ee"]]},{"id":"3b0928ca.37cd38","type":"comment","z":"41ed64c4.cf5e54","name":"Var Float","info":"","x":500,"y":380,"wires":[]},{"id":"4d070e9f.09b0f","type":"inject","z":"41ed64c4.cf5e54","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"0","payloadType":"str","x":170,"y":320,"wires":[["8dee7ece.87a33"]]},{"id":"8dee7ece.87a33","type":"function","z":"41ed64c4.cf5e54","name":"counter","func":"msg.payload = parseInt(msg.payload) + 1;\n\nif (msg.payload > 10)\n{\n  msg.payload = 0  //set counter back to 1//\n}\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["d488b39a.9c3fa","66dbdcb1.985494"]]},{"id":"d488b39a.9c3fa","type":"delay","z":"41ed64c4.cf5e54","name":"trigger ","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":309,"y":250,"wires":[["8dee7ece.87a33"]]},{"id":"7c0474be.770eac","type":"inject","z":"41ed64c4.cf5e54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":500,"wires":[["d442995.6736768"]]},{"id":"d442995.6736768","type":"function","z":"41ed64c4.cf5e54","name":"Convers達o","func":"msg = { payload : { \"messageType\" : \"Variable\", \"variableName\": \"Boleano\", \"variableValue\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":520,"wires":[["efb482cb.cd451"]]},{"id":"efe114b3.ceea88","type":"comment","z":"41ed64c4.cf5e54","name":"Var Bool","info":"","x":490,"y":480,"wires":[]},{"id":"1db6e5ff.099c7a","type":"function","z":"41ed64c4.cf5e54","name":"Convers達o","func":"msg = { payload : { \"messageType\" : \"Variable\", \"variableName\": \"Texto\", \"variableValue\": msg.payload }};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":620,"wires":[["efb482cb.cd451"]]},{"id":"8b7100f2.c1a02","type":"comment","z":"41ed64c4.cf5e54","name":"Var String","info":"","x":500,"y":580,"wires":[]},{"id":"ee18a7d0.0526d8","type":"inject","z":"41ed64c4.cf5e54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":170,"y":540,"wires":[["d442995.6736768"]]},{"id":"6a7dfb01.9de354","type":"inject","z":"41ed64c4.cf5e54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Ligado","payloadType":"str","x":170,"y":600,"wires":[["1db6e5ff.099c7a"]]},{"id":"1426d913.ea5a77","type":"inject","z":"41ed64c4.cf5e54","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Desligado","payloadType":"str","x":180,"y":640,"wires":[["1db6e5ff.099c7a"]]},{"id":"8347ff44.d1aa4","type":"function","z":"41ed64c4.cf5e54","name":"","func":"if (msg.payload1 == 4)\n{msg.payload = {opcuaCommand:\"addFolder\"}\nmsg.topic = \"ns=1;s=Variaveis\"}\n\nelse if (msg.payload1 == 6)\n{msg.payload = {opcuaCommand:\"addVariable\"}\nmsg.topic = \"ns=4;s=Contador;datatype=Int32\"}\n\nelse if (msg.payload1 == 8)\n{msg.payload = {opcuaCommand:\"addVariable\"}\nmsg.topic = \"ns=4;s=Tipo Real;datatype=Float\"}\n\nelse if (msg.payload1 == 10)\n{msg.payload = {opcuaCommand:\"addVariable\"}\nmsg.topic = \"ns=4;s=Boleano;datatype=Boolean\"}\n\nelse if (msg.payload1 == 12)\n{msg.payload = {opcuaCommand:\"addVariable\"}\nmsg.topic = \"ns=4;s=Texto;datatype=String\"}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":140,"wires":[["efb482cb.cd451"]]},{"id":"383e78ab.a8a9e8","type":"inject","z":"41ed64c4.cf5e54","name":"trigger","props":[{"p":"payload1","v":"0","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","x":190,"y":140,"wires":[["46210b9f.e0cbe4"]]},{"id":"46210b9f.e0cbe4","type":"function","z":"41ed64c4.cf5e54","name":"counter","func":"msg.payload1 = parseInt(msg.payload1) + 1;\n\nif (msg.payload1 > 16)\n{\n  //set counter back to 1//\n}\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["881425ec.8ebf58","8347ff44.d1aa4"]]},{"id":"881425ec.8ebf58","type":"delay","z":"41ed64c4.cf5e54","name":"trigger ","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":309,"y":70,"wires":[["46210b9f.e0cbe4"]]},{"id":"47986304.5e8b8c","type":"comment","z":"41ed64c4.cf5e54","name":"Variaveis para Simular","info":"","x":320,"y":200,"wires":[]}]